global-include *.cfg
global-include *.csv
global-include *.json
global-include *.txt
global-include *.md
global-include *.jar
global-include *.bat
global-include *.sh
global-include *.xml
global-include *.py
global-include *.properties
global-include *.class
global-include *.pl
global-include *.MF
global-include *.aff
global-include *.dic
global-include *.dict
global-include *.info
global-include *.profile
global-include *.README
global-include *.sor
global-include *.header
global-include *.bin
global-include *.html
global-include *.awk
global-include *.GPL
global-include *.LGPL
global-include *.MPL
global-include *.md
global-include LICENSE
